<div class="page-header">
  <%= link_to sistems_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_sistem_path(@sistem), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show sistem</h1>
</div>

<dl class="dl-horizontal">
  <dt>Description:</dt>
  <dd><%= @sistem.description %></dd>

</dl>
