<div class="page-header">
  <%= link_to new_version_test_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Version test
  <% end %>
  <h1>Listing version_tests</h1>
</div>


<%= render partial: 'index' %>